.Page {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.Page > * {
  overflow: overlay;
  height: 100%;
}

.Page :is(h1) {
  font-size: 64px;
  margin: 32px 0 32px var(--page-padding-left);
}

.Page :is(h3) {
  font-size: 32;
  color: var(--black);
  margin: 32px 0 16px var(--page-padding-left);
}

.CardCarousel {
  display: flex;
  padding: 32px var(--page-padding-left) 40px var(--page-padding-left);
  gap: 32px;
  overflow: auto;
}

.CardCarousel::-webkit-scrollbar-thumb {
  background: transparent;
}

.CardCarousel:hover:-webkit-scrollbar-thumb {
  background: gray;
}

.BackButton {
  background-color: #E8E8E8;
  border: none;

  font-weight: 500;
  padding: 0 24px;
  height: 42px;
  border-radius: 1000px;
  cursor: pointer;
  min-width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  transition: all 0.1s ease;
  z-index: 5;

  margin-left: var(--page-padding-left);
}

.BackButton:hover {
  transform: scale(1.06);
}
