.DiscoverPage {
  overflow: overlay;
  width: 100vw;
}

.BackgroundSVG {
  position: absolute;
  top: 0;
  right: 5%;
  z-index: -1;
  transition: opacity 0.1s linear, filter 0.1s linear;
}

.PageTitle {
  position: relative;
}

.PageTitle > .Title {
  font-size: 100px;
  margin: 0 var(--page-padding-left);
  font-weight: 800;
  margin-top: 200px;
  width: 80%;
  text-shadow: 0 4px 32px rgba(255, 255, 255, 0.25);
}

.PageTitle > .Details {
  font-size: 32px;
  margin: 32px var(--page-padding-left);
  width: 50%;
  margin-bottom: 32px;
  font-weight: 800;
  text-shadow: 0 4px 32px rgba(255, 255, 255, 0.25);
}

.PageTitle > .ButtonContainer {
  margin-bottom: 200px;
  display: flex;
  margin-left: var(--page-padding-left);
  gap: 16px;
}

.PageTitle > .ButtonContainer > .ActionButton {
  background-color: var(--accent);
  border: none;
  color: white;

  font-weight: 500;
  padding: 0 24px;
  height: 42px;
  border-radius: 1000px;
  cursor: pointer;
  min-width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  transition: all 0.1s ease;
  z-index: 5;
  box-shadow: 0px 16px 32px var(--accent-shadow);
}

.PageTitle > .ButtonContainer > .ActionButton:hover {
  background-color: var(--accent);
  border: none;
  color: white;
  transform: scale(1.06);
}

.PageTitle > .ButtonContainer > .SecondaryButton {

  font-weight: 500;
  padding: 0 24px;
  height: 42px;
  border-radius: 1000px;
  cursor: pointer;
  min-width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  transition: all 0.1s ease;
  z-index: 5;
  background-color: #403c55;
  color: white;
  border: none;
}

.PageTitle > .ButtonContainer > .SecondaryButton:hover {
  transform: scale(1.06);
}
