.NavbarTabButton {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sora;
  font-weight: 800;
  height: 80px;
  width: 140px;
  gap: 4px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--black);

}

.NavbarTabButton:hover {
  background-color: #F9F9F9;
}

.NavbarTabButton.ActiveTab {
  background-color: #F9F9F9;
  color: var(--accent);
}
