body {
  margin: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  font-family: sora;
  font-weight: 400;
  color: var(--black);
}

@font-face {
  font-family: sora;
  src: url("./fonts/sora/Sora-VariableFont_wght.ttf");
}

.Flex {
  flex: 1;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--accent);
}

::selection {
  color: white;
  background: var(--accent);
}
