body {
  margin: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  font-family: sora;
  font-weight: 400;
}

@font-face {
  font-family: sora;
  src: url("./fonts/sora/Sora-VariableFont_wght.ttf");
}

.Flex {
  flex: 1;
}
